<h1 id="tocheading">Table of Contents</h1>
<div id="toc"></div>

In [1]:
%%javascript
$.getScript('https://kmahelona.github.io/ipython_notebook_goodies/ipython_notebook_toc.js')

// needed to generate the Table of contents 
// taken from github.com/kmahelona/ipython_notebook_goodies

## Data Pre-Processing

Let's load the data files generated in the EDA notebook.

In [10]:
# import modules
import os
import pandas as pd
import numpy as np

In [3]:
# set working directory
os.chdir('..')
print(os.getcwd())

/home/andrea/Dropbox/PyProjects/Predictive_Maintenance_Fanjet

In [4]:
train_df = pd.read_csv('data/train_op_regime2_FD001.csv')
test_df = pd.read_csv('data/test_op_regime2_FD001.csv')

In [5]:
train_df.head()

,unit_number,cycle_time,op_setting_1,op_setting_2,op_setting_3,s1,s2,s3,s4,s5,...,s15,s16,s17,s18,s19,s20,s21,dataset,op_regime,RUL
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,8.4195,0.03,392,2388,100.0,39.06,23.4190,FD001,3,-191
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,8.4318,0.03,392,2388,100.0,39.00,23.4236,FD001,3,-190
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,8.4178,0.03,390,2388,100.0,38.95,23.3442,FD001,3,-189
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,8.3682,0.03,392,2388,100.0,38.88,23.3739,FD001,3,-188
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,8.4294,0.03,393,2388,100.0,38.90,23.4044,FD001,3,-187

In [6]:
test_df.head()

,unit_number,cycle_time,op_setting_1,op_setting_2,op_setting_3,s1,s2,s3,s4,s5,...,s13,s14,s15,s16,s17,s18,s19,s20,s21,dataset
0,1,1,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,...,2388.03,8125.55,8.4052,0.03,392,2388,100.0,38.86,23.3735,FD001
1,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,2388.06,8139.62,8.3803,0.03,393,2388,100.0,39.02,23.3916,FD001
2,1,3,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,...,2388.03,8130.10,8.4441,0.03,393,2388,100.0,39.08,23.4166,FD001
3,1,4,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,...,2388.05,8132.90,8.3917,0.03,391,2388,100.0,39.00,23.3737,FD001
4,1,5,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,...,2388.03,8129.54,8.4031,0.03,390,2388,100.0,38.99,23.4130,FD001

In [8]:
print(test_df.shape)
print(RUL_df.shape)

(13096, 27)
(100, 2)

### Create dummy or indicator features for categorical variables
While there are no categorical variables that need to be converted, we can create a new label such that we can consider this prediction problem as a classification problem. 

For now we will bin the data in 3, arbitary, categories:
- **Level 1 :** less than 50 cycles remaining until failure (Red zone)
- **Level 2 :** less than 100 cycle remaining until failure (Yellow zone)
- **Level 3 :** over 100 cycles remaining until failure (Green zone)

We might change these boundaries later in favor of performance.

In [34]:
#setting an arbitary boundary at 50 adn 100 cycles for the binning\
first_boundary = -100
second_boundary = -50
train_df['status'] = pd.cut(train_df['RUL'],[-np.inf,first_boundary,second_boundary,0],labels=[3,2,1])
test_df['status'] = pd.cut(train_df['RUL'],[-np.inf,first_boundary,second_boundary,0],labels=[3,2,1])

## Split into testing and training datasets


While the dataset is already partitioned, we can drop several columns that are not useful for the prediction:
- ```dataset```
- ```unit_number```
- ```op_setting_1```, ```op_setting_2```, ```op_setting_3``` which we know are not changing in this dataset
- ```s1```, ```s5```, ```s6```, ```s10```, ```s16```, ```s18```, ```s19``` that are constant thorughout the entire life of the engine

### Standardize the magnitude of numeric features

### Split into testing and training datasets

### Apply scaler to the testing set